# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/AsteroidsEntityFramework/Enemy/target/
/AsteroidsEntityFramework/Astroid/target/
/AsteroidsEntityFramework/SplitObject/target/
/AsteroidsEntityFramework/Ammo/target/
/AsteroidsEntityFramework/CommonAstroid/target/
/AsteroidsNetbeansModules/branding/target/
/AsteroidsNetbeansModules/Common/target/
/AsteroidsNetbeansModules/SilentUpdate/target/
/AsteroidsNetbeansModules/application/target/
/AsteroidsNetbeansModules/CommonEnemy/target/
/AsteroidsNetbeansModules/CommonAsteroids/target/
/AsteroidsNetbeansModules/Core/target/
/AstroidNetbeansMod/AstroidNetbeansMod/branding/target/
/AstroidNetbeansMod/AstroidNetbeansMod/application/target/